name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Run CI in Dev Container
        uses: devcontainers/ci-action@v0.3
        with:
          push: never
          runCmd: |
            # Run Quality Checks
            ./scripts/check_quality.sh
            # Run Tests
            uv run pytest
